body {
  background-color: #FFFFFF;
}
a {
  color: rgb(0,159,227);
  text-decoration: none;
}
/* Header Bar */
.headline {
	position: fixed;
	width: 100%;
	background: rgb(60,60,59);
	z-index: 100
}
/* Header */
.subnav {
	padding: 8px 0px 8px 0px;
}
.subnav a {
	margin-right: 0px;
	padding: 10px 10px 10px 10px;
	font-size: 1.1em;
	text-transform: uppercase;
	font-family: montserrat, sans-serif;
	color: rgb(218,218,218);
}
.subnav a:hover {
	color: rgb(0,159,227);
}
.subnavSelected {
	color: rgb(0,159,227) !important;
	background: rgb(112,111,111);
}





/* Doc */
.pagemenu{
  padding: 50px;
  padding-left: 10px;
	border-right: 1px solid#dbdde2;
}
.pageSelect{
	color: rgb(0,159,227) !important;
}
a.mainMenuItem{
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  color: rgb(112,112,111);
  line-height: 1.2 !important;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  display: block;
}


.menubar {
  padding: 60px;
	float: left;
  border-right: solid 1px #dfe2e7;
}
.pushContent {
	float: left;
  width: 100%;
}

@media (max-width:639px){
  .pagemenu {
    width: 100%;
    border-bottom: 1px solid#dbdde2;
  }
  .menubar{
    padding: 30px;
    width: 100%;
  	border-bottom: 1px solid#dbdde2;
    visibility: visible;
    float: left;
  }
  .pushContent {
    left: 0px;
  	top: 0px;
    width: 100%;
  }
}
@media (min-width:640px) and (max-width:959px) {
  .pagemenu {
    width: 150px;
    float: left;
  }
  .menubar{
    position: relative;
    width: 200px;
    float: left;
    border-right: 0px solid #dbdde2;
    padding: 55px 0px 0px 20px;
  }
  .pushContent {
    border-top: 1px solid #dbdde2;
    padding-left: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
  }
}

@media (min-width:960px) and (max-width: 1179px) {
  .pagemenu {
    position: fixed;
    width: 150px;
    float: left;
    left:0px;
    height: 100vh;
    border-right: 1px solid #dbdde2;
  }
  .menubar{
    position: fixed;
    width: 150px;
    left: 212px;
    height: 100vh;
    float: left;
    border-right: 1px solid#dbdde2;
    padding: 55px 10px 10px 20px;
  }
  .pushContent {
    padding-left: 0px;
    left:400px;
    top: 25px;
  }
  .content {
    width: calc(100% - 500px);
  }
}
@media (min-width: 1180px) {
    body{
      background-color: #F3F6FB;
    }
   .pagemenu {
     position: fixed;
     width: 150px;
     float: left;
     left:0px;
     height: 100vh;
     border-right: 1px solid#dbdde2;
     background-color: #FFFFFF;
   }
   .menubar{
     position: fixed;
     width: 150px;
     left: 212px;
     height: 100vh;
     float: left;
     border-right: 1px solid#dbdde2;
     padding: 55px 10px 10px 20px;
     background-color: #FFFFFF;
   }
   .pushContent {
     padding-left: 0px;
     left:394px;
     top: 25px;
     width: 550px;
     background-color: #FFFFFF;
   }
   .content {
     width: 530px;
     border-right: 1px solid#dbdde2;
     background-color: #FFFFFF;
   }
   p {
     width: 530px !important;
     padding: 10px;
   }
   .img-js {
     float: right !important;
     clear: both !important;
    margin-right: -570px;
  }
  .content-img img {
    border: 1px solid #dbdde2;
  }

}

/* MD Files*/
.content h1, .content h2, .content .big-heading, body.big-h3 .content h3 {
  padding-top: 30px;
}
.content-img img {
	max-width: 350px;
	height:auto;
}
.level-1{
	font-family: montserrat, sans-serif;
	color: rgb(112,112,111) !important;
	text-transform: uppercase;
	font-size: 14px;
  padding: 2px;
}
.level-2 {
	font-family: montserrat, sans-serif;
	color: rgb(112,112,111) !important;
	text-transform: uppercase;
	font-size: 12px;
  padding: 2px;
}
.level-3 {
	font-family: montserrat, sans-serif;
  color: rgb(112,112,111) !important;
	text-transform: none !important;
	width: 180px !important;
  padding: 2px;
}
